.browserContainer {
    height: 550px;
    width: 450px;
    background: rgb(94, 113, 119);
    display: flex;
    flex-direction: column;
    border: 5px solid #204553;
}

.row {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .first-row {
    background-color: lightblue;
  }
  